.container{
  height: 60vh;
  position: relative;
  z-index: 5;
}
.gameContent{
  height: 60vh;
  display: flex;
  align-items: flex-end;
}
.pentagonContainer{
  height: 95%;
  display: grid;
  place-items: center;
  margin: 0 auto;
  position: relative;
}
.gameItemContainer{
  position: absolute !important;
}
.gameItem{
  position: relative;
}
.scissors{
  top: -1%;
}
.papper{
  right: -15%;
  top: 27%;
}
.rock{
  bottom: -1.5%;
  right: 5%;
}
.lizard{
  bottom: -1.5%;
  left: 5%;
}
.spock{
  left: -15%;
  top: 27%;
}

@media only screen and (max-height: 650px){
  .container{
    height: 50vh;
    position: relative;
    z-index: 5;
  }
  .pentagonContainer{
    height: 100%;
    display: grid;
    place-items: center;
    margin: 0 auto;
    position: relative;
  }
  .rock{
    bottom: -5%;
    right: 5%;
  }
  .lizard{
    bottom: -5%;
    left: 5%;
  }
}

@media only screen and (max-width: 375px){
  .gameContent{
    height: 50vh;
  }
  .pentagon{
    height: 180px !important;
    width: 180px !important;
  }
  .rock{
    bottom: 2%;
    right: 5%;
  }
  .lizard{
    bottom: 2%;
    left: 5%;
  }
}